div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-lg-12
      a.btn.btn-warning.pull-right(ng-click="updateTwits()") Update twits
      h1.page-header(ng-show="twits") Twits ({{twits.search_metadata.count}}):
      h1.page-header(ng-hide="twits") Loading...
  .row
    .col-lg-12
      table.table.table-striped
        tr(ng-repeat='twit in twits.statuses track by $index')
          td {{::$index + 1}}
          td(ng-bind-html="twit.text")
          td
            .btn.btn-success(ng-hide="twit.starred", ng-click="storeTwit(twit)")
              i.fa.fa-star
            .btn.btn-danger(ng-show="twit.starred", ng-click="deleteTwit(twit)")
              i.fa.fa-star

footer.footer
  .container
    p
      | &copy; wegorelax